<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="style/styleCss.css"/>

<title>Error</title>
</head>
<style>
tr {
	border-bottom: transparent !important;
}

.ajusteCentro {
	padding-left: 45% !important;
}
</style>
<body>

<table class="container tabelaConvidado">
		<tbody>
			<tr><td><span th:text="#{pagina.error.titulo}" class="errorAcesso centralizar ajusteCentro"></span></td></tr>
			<tr><td><img src="images/error.jpg" alt="Proibido!" height="150" width="150" class="centralizar"></td></tr>
			<tr><td><span th:text="#{pagina.error.msg}" class="errorAcesso centralizar"></span></td></tr>
			<tr><td><a href="/" th:text="#{pagina.proibido.voltar}"></a></td></tr>
		</tbody>
</table> 

</body>
</html>