<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="style/styleCss.css"/>

<title>EventoApp</title>
</head>

<body>

	<header>
	
	  <nav class="menu">
	    <div class="nav-wrapper">
			    
		<table id="posicionamentoHeader">
			<tbody>
			<tr>
			<td style="width: 35%;"><a href="#" class="brand-logo" th:text="#{titulo}"></a></td>
			<td style="width: 155px;text-align: center;"><span th:text="#{lang.mudarLingua}" style="font-weight: bold;font-size: 0.9rem;"></span>:</td>
				<td>
					<select id="locais">
					    <option value=""></option>
					    <option value="en" th:text="#{lang.eng}"></option>
					    <option value="br" th:text="#{lang.br}"></option>
					</select>
				</td>
			<td style="width: 170px;text-align: right;"><span th:text="${'Ola ' + usuario}" style="font-size: 1rem;"></span></td>
			<td style="width: 30px;text-align: center;"><a th:href="@{/logout}" th:text="#{link.sair}" style="font-size: 1rem;"></a></td>

			<td style="width: 200px;">
		      	<ul id="nav-mobile" class="right hide-on-med-and-down">
		        	<li><a href="/myapp/saveEvent" class="waves-effect waves-light btn" th:text="#{botao.CadastroEvento}"><i class="material-icons left">add_circle_outline</i></a></li>
		      	</ul>
			</td>
			</tr>
			</tbody>
		</table>
	      	
	    </div>
	  </nav>

	</header>


<table class="container">
	<thead>
	<tr>
		<th th:text="#{coluna.Nome}"></th>
		<th th:text="#{coluna.Local}"></th>
		<th th:text="#{coluna.Data}"></th>
		<th th:text="#{coluna.Horario}"></th>
		<th th:text="#{coluna.Deletar}"></th>
	</tr>
	</thead>
	
	<tbody>
	<tr th:each="event : ${events}">
		<td><a th:href=" ${(#mvc.url('EAC#eventDetail').arg(0, event.code)).build()}"><span th:text="${event.name}"></span></a></td>
		<td><span th:text="${event.city}"></span></td>
		<td><span th:text="${event.date}"></span></td>
		<td><span th:text="${event.time}"></span></td>
		<td><a class="waves-effect waves-light btn-small" th:href=" ${(#mvc.url('EAC#deleteEvent').arg(0, event.code)).build()}"><i class="material-icons left">delete</i></a></td>
	</tr>
	</tbody>
	
</table>
	
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      
		<script type="text/javascript">
		$(document).ready(function() {
		    $("#locais").change(function () {
		        var selectedOption = $('#locais').val();
		        if (selectedOption != ''){
		            window.location.replace('/eventos?lang=' + selectedOption);
		        }
		    });
		});
		</script>

</body>
</html>


