<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="style/styleCss.css"/>

<title>Pagina de login</title>
</head>
  <body>
    <div style="width:40%; margin-left:auto; margin-right:auto;" th:fragment="content">
        <form th:action="@{/login}" method="post">      
            <fieldset>
                <legend th:text="#{login.titulo}"></legend>
                <div th:if="${param.error}" class="alert alert-error">    
                    Usuario e Senha Invalidos.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    Voce saiu do sistema.
                </div>
                
                
                <label for="username" th:text="#{login.usuario}"></label>
                <input type="text" id="username" name="username" placeholder="Username" required autofocus/>        
                <label for="password" th:text="#{login.senha}"></label>
                <input type="password" id="password" name="password" placeholder="Password" required/>  
                
                <!-- <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" /> -->
                
				<label class="checkbox pull-left">
                    <input type="checkbox" name="remember-me" />
                    Remember me
                </label>
                
                <div class="form-actions">
                    <button type="submit" class="btn">Sign in</button>
                </div>
                
                <br>
                <a class="btn btn-primary" href="/myapp/oauth2/authorization/google">Login with Google</a><br><br>
                
                <a class="btn btn-primary" href="/myapp/oauth2/authorization/way2learnclient">Login with Way2learn Auth Server</a><br><br>
                
            </fieldset>
        </form>
    </div>
  </body>
</html>
