<!DOCTYPE html>
<html lang="pt" 
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://thymeleaf.org">
<head>
<title>Insert title here</title>
</head>
<body>

<div class="alert alert-sucess alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
	<span class="blue-text text-darken-2" th:text="${mensagem}"></span>
</div>


</body>
</html>