.detalhesEvento{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formConvidado {
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 60px;
}


.tabelaConvidado{
	width: 50%;
}


.centralizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

        


.formEvento {
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 60px;
}


.formLogin {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}


.menu{
	height: 90px;
	background-color: #3399ff;
}


.brand-logo {
	position: relative !important;
	font-size: 2rem !important;
}


#locais {
	display: block;
	width: 10rem;
	height: 2rem;
}

#posicionamentoHeader {
	border-collapse: unset;
}


.errorAcesso {
	font-size: 20px;
	color: red;
	font-weight: bold;
	padding-left: 35%;
}

