<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>

<title>EventoApp</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="style/styleCss.css"/>

</head>

<body>

	<header>
	  <nav class="menu">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" th:text="#{detalhe.Evento.Titulo}"></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/myapp/events" class="waves-effect waves-light btn" th:text="#{botao.Listar.Eventos}"><i class="material-icons left">add_circle_outline</i></a></li>
	      </ul>
	    </div>
	  </nav>
	</header>

	<div th:each="ev : ${event}" class="container detalhesEvento"> 
	<h5 th:text="#{detalhe.Evento.Subtitulo}"></h5>
		<div class ="row">
			<p><span th:text="#{coluna.Nome}"></span>: <span th:text="${ev.name}"></span></p>
			<p><span th:text="#{coluna.Local}"></span>: <span th:text="${ev.city}"></span></p>
			<p><span th:text="#{coluna.Data}"></span>: <span th:date="${ev.date}"></span></p>
			<p><span th:text="#{coluna.Horario}"></span>: <span th:time="${ev.time}"></span></p>
		</div>
	</div>
	
		<th:block th:include="mensagemValidacao"></th:block>

 		<div class="container formConvidado">
			<form method="post">
				<p th:text="#{coluna.RG}"/>
				<input type="number" value="" name="id"/>
				<p th:text="#{coluna.Nome}"/>
				<input type="text" value="" name="guestName"/>
				<button class="waves-effect waves-light btn" th:text="#{botao.Cadastra.Convidado}" type="submit"></button>
			</form>
		</div>
	
	<table class="container tabelaConvidado">
		<thead>
			<tr>
			<th th:text="#{coluna.Convidado.Cadastrado.Nome}"></th>
			<th th:text="#{coluna.Convidado.Cadastrado.RG}"></th>
			<th th:text="#{botao.Convidado.Deletar}"></th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="guest : ${guests}">
			<td><span th:text="${guest.name}"></span></td>
			<td><span th:number="${guest.id}"></span></td>
			<td><a class="waves-effect waves-light btn-small" th:href=" ${(#mvc.url('EAC#deleteGuest').arg(0, guest.id)).build()}"><i class="material-icons left">delete</i></a></td>
		</tbody>
	</table> 
	
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>