<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="style/styleCss.css"/>
<title>Cadastro de Evento</title>
</head>
<body>

	<header>
	  <nav class="menu">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" th:text="#{cadastro.Evento.Titulo}"></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/myapp/events" class="waves-effect waves-light btn" th:text="#{botao.Listar.Eventos}"><i class="material-icons left">format_list_bulleted</i></a></li>
	      </ul>
	    </div>
	  </nav>
	</header>

	<th:block th:include="mensagemValidacao"></th:block>

	<div class="container formEvento">
		<form class="container" th:action="@{/saveEvent}" method="post">
			<p th:text="#{coluna.Nome}"/>
			<input type="text" value="" name="name"/>
			
			<div class="row">
				<div class="input-field col s6">
					<p th:text="#{coluna.Local}"/>
					<input type="text" value="" name="city"/>
				</div>
				
				<div class="input-field col s3"> 
					<p th:text="#{coluna.Data}"/>
					<input type="date" value="" name="date"/> 
				</div>
		
				<div class="input-field col s3"> 
					<p th:text="#{coluna.Horario}"/>
					<input type="time" value="" name="time"/>
				</div>
			</div>
			<button class="waves-effect waves-light btn" th:text="#{botao.Salvar}" type="submit"></button>
		</form>
	</div>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>